<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <h1>Cars</h1>

    <table>
        <thead>
            <tr>
                <th>model</th>
                <th>color</th>
                <th>price</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="car : ${cars}">
                <tr>
                    <td th:text="${car.model}" />
                    <td th:text="${car.color}" />
                    <td th:text="${car.price}" />
                </tr>
            </th:block>
        </tbody>
    </table>
</div>
</body>
</html>